{% comment %} {% load staticfiles %}
  <!DOCTYPE html>
   <html>
   <head>
     <title>{% block title %}{% endblock %}</title>
     <link href="{% static "css/base.css" %}" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
   <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1249499325201718&autoLogAppEvents=1"></script>
    <nav class="navbar navbar-light" style="background-color: #1a8e88;">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: white">
    {% comment %} <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> {% endcomment %}
    {% comment %} UNSW Marketing
  </a>
<div id = "status" style="color:white"></div> 
    {% if messages %}
     <ul class="messages">
       {% for message in messages %}
         <li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">✖</a>
         </li>
       {% endfor %}
     </ul>
   {% endif %} 

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>

  </div>

    </nav>
  <div class="container">

  <div class="row">
    
      <div id="header">

       
       
        <div id = "status" style="color:red"></div> 
          {% if messages %}
     <ul class="messages">
       {% for message in messages %}
         <li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">✖</a>
         </li>
       {% endfor %}
     </ul>
   {% endif %}
       <hr>

     <div id="content">
       {% block content %}
       {% endblock %}
     </div>
    </div>
  </div>
</div>
   </body>
   </html> {% endcomment %}

    {% comment %} {% endcomment %} 

{% load staticfiles %}
<!DOCTYPE html>
   <html>
  <div id="header">
<span class="logo">Bookmarks</span>
{% if request.user.is_authenticated %}
       <ul class="menu">
         <li {% if section == "dashboard" %}class="selected"{% endif %}>
           <a href="{% url "dashboard" %}">My dashboard</a>
         </li>
         <li {% if section == "images" %}class="selected"{% endif %}>
           <a href="#">Images</a>
         </li>
         <li {% if section == "people" %}class="selected"{% endif %}>
           <a href="#">People</a>
         </li>
       </ul>
     {% endif %}
     <span class="user">
       {% if request.user.is_authenticated %}
         Hello {{ request.user.first_name }},
         <a href="{% url "logout" %}">Logout</a>
       {% else %}
         <a href="{% url "login" %}">Log-in</a>
       {% endif %}
</span>
</div>
   <body>
     <div id="header">
       <span class="logo">UNSW Marketing</span>
     </div>
     <div id="content">
       {% block content %}
       {% endblock %}
     </div>
   </body>
</html>