{% extends "base.html" %}
   {% block title %}Marketing Survey{% endblock %}
  
   {% block content %}
     <h2>UNSW Marketing Survey</h2> 
      <p>We hope you can finish the research survey authorised with facebook.</p>
     <h4>What data is being collected from your Facebook?</h4>
     <p>Facebook appears to collect data from non-users in two main ways: From their browsing history and from their friends.</p>
     <h4>What do we do with this data?</h4>
     <p>As mentioned in Facebook’s recent blog post, some of the browsing data is used for analytics — that means that web and app developers pay Facebook to tell them how many people visit their site, etc. The company also claims it’s used for security purposes, like identifying bots. Here’s how Facebook explained that in its blog post:</p>
     <h4>How long do we save this data?</h4>
     <p>Facebook says it won’t hold onto this data forever, but that’s slightly misleading. Facebook keeps browsing data from its users for up to 90 days, but deletes that data for non-users after 10 days, according to a company spokesperson.</p>
      <h3>...</h3>
     <hr>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1249499325201718',
      cookie     : true,  // enable cookies to allow the server to access 
      status     : true, 
      cookie: true,
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v3.2' // The Graph API version to use for the call
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?metadata=1&fields=email,name', function(response) {
      console.log("------------------------------");
     console.log('Successful login for: ' + response.name); 
      console.log("The user's id is: " + response.id);
       console.log('first_name: ' + response.first_name); 
       console.log('last_name: ' + response.last_name); 
       console.log('middle_name: ' + response.middle_name); 
       console.log('name_format: ' + response.name_format); 
        console.log('picture: ' + response.picture); 
      console.log("The user's email is: " + response.email);
       console.log()
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
      console.log("We will redirect to a survet page")
    });
  }
  function login() {
  FB.login(function(response) {

            // handle the response
    console.log("Response goes here!");

            }, {scope: 'read_stream,publish_stream,publish_actions,read_friendlists,'});            
  }
  function logout() {
      FB.logout(function(response) {
              // user is now logged out
      });
  }
</script>
  <div class="row">
    <div class="col"> <a href="http://www.dongst.org/" target="_blank"><button class="btn btn-secondary">Without Facebook</button></a></div>
    <fb:login-button data-size="large" scope="public_profile,email" data-show-faces="true" data-auto-logout-link="true" onlogin="checkLoginState();"> </fb:login-button>
</div>
 
  </div>
{% endblock %}






